.navbar {
    overflow: hidden;
    background-color: var(--nav-bar-color);
    border-radius: 4px;
    min-width: 500px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--foreground);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .theme-toggle {
    padding-left: 8px;
}   

.navbar .switch {
    float: left;
    margin-right: 0;
    margin-top: calc(calc(46px - 34px) * 0.5);
}

.navbar div.theme-toggle {
    display: flex;
    justify-content: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--foreground);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover:not(.theme-toggle),
.dropdown:hover .dropbtn {
    background: linear-gradient(45deg, var(--start-gradient-color), var(--end-gradient-color));
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-bar-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--foreground);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}