/* basic styling for navigation bar */
#nav-bar {
    border: none;
    background-color: rgb(180, 0, 160);
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

#nav-bar a {
    display: inline-block;
    border: 2px solid black;
    padding: 8px 4px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1em;
    background-color: rgba(200, 20, 180, 1);
}

#nav-bar a:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#nav-bar a:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#nav-bar a:hover {
    border-color: black 1 100%;
    background: linear-gradient(to right,#5800E2, #FF00E6);
    border-color: rgb(85, 0, 114) rgb(85, 0, 77) rgb(85, 0, 114) rgb(44, 0, 113);
    width: content;
}