h1,
h2,
h3,
h4,
h5,
h6,
p a,
li a {
  color: var(--shade5);
  font-family: sans-serif;
  text-decoration: none;
}

h1,
h2 {
  color: var(--shade6);
}

p,
ul,
li {
  color: var(--foreground);
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}