
/* JS implementation already done
:root {
    /* dark 
    --start-gradient-color: rgb(151, 42, 184);
    --end-gradient-color: rgb(226, 40, 81);

    --shade1: rgb(113, 30, 138);
    --shade2: rgb(151, 42, 184);
    --shade3: rgb(201, 56, 245);
    --shade4: rgb(128, 23, 45);
    --shade5: rgb(170, 30, 60);
    --shade6: rgb(226, 40, 81);

    --image-invert-percent: 100%;
    --background: rgb(12, 14, 20);
    --foreground: white;
    --separator-color: rgb(24, 28, 40);
    --nav-bar-color: rgb(24, 28, 40);
    --shadow-color: rgba(0, 0, 0, 0.2);
}

:root {
    /* light 
    --start-gradient-color: rgb(196, 58, 238);
    --end-gradient-color: rgb(255, 46, 92);

    --shade1: rgb(154, 39, 189);
    --shade2: rgb(183, 53, 223);
    --shade3: rgb(209, 58, 255);
    --shade4: rgb(194, 35, 70);
    --shade5: rgb(211, 38, 76);
    --shade6: rgb(255, 51, 95);

    --image-invert-percent: 0%;
    --background: white;
    --foreground: rgb(12, 14, 20);
    --separator-color: rgb(231, 227, 215);
    --nav-bar-color: rgb(231, 227, 215);
    --shadow-color: rgba(0, 0, 0, 0.2);
} */